[user]
    name = Lev Zharikov
    email = 33627925+leozaur1808@users.noreply.github.com
	signingkey = ~/.ssh/key.pub
[init]
    defaultBranch = main

[core]
    editor = vim
    autocrlf = input
    safecrlf = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

